@charset "UTF-8";
.meta1 .form-control, .meta1 .form-control::placeholder, .meta2 .form-control, .meta2 .form-control::placeholder, .meta3 .form-control, .meta3 .form-control::placeholder, .meta4 .form-control, .meta4 .form-control::placeholder, .meta5 .form-control, .meta5 .form-control::placeholder, .avaliacao-final .form-control, .avaliacao-final .form-control::placeholder, .feedback-gestor .form-control, .feedback-gestor .form-control::placeholder {
  color: #000000;
  height: 40px; }

.subtitle-main, .busca-home, .busca-home::placeholder, .container-footer p, .required-subtitle, .dados-pessoais h3, .accordion p, .nav-tabs .nav-item a, .meta1 h3, .meta2 h3, .meta3 h3, .meta4 h3, .meta5 h3, .btn-collapse, .avalia-compet .texto-compet, .feedback-gestor p, .feedback-colaborador label {
  font-family: 'Arial Regular', Arial;
  font-size: 16px;
  font-weight: 400; }

.dados-pessoais label, .dados-pessoais .form-control, .dados-pessoais .form-control::placeholder, .meta1 label, .meta2 label, .meta3 label, .meta4 label, .meta5 label, .meta6 label, .meta1 .form-control, .meta1 .form-control::placeholder, .meta2 .form-control, .meta2 .form-control::placeholder, .meta3 .form-control, .meta3 .form-control::placeholder, .meta4 .form-control, .meta4 .form-control::placeholder, .meta5 .form-control, .meta5 .form-control::placeholder, .peso-total label, .peso-total .form-control, .peso-total .form-control::placeholder, .legenda-nota, .avalia-compet label, .avalia-compet .select-autoavalia, .avalia-compet .select-avaliagest, .avalia-compet textarea, .avaliacao-final label, .avaliacao-final .form-control, .avaliacao-final .form-control::placeholder, .feedback-gestor label, .feedback-gestor .form-control, .feedback-gestor .form-control::placeholder, .feedback-gestor textarea, .feedback-colaborador .question {
  font-family: 'Verdana Regular', Verdana, serif;
  font-size: 14px;
  font-weight: 400; }

.meta1 .nav-item #meta1-tab.active::after, .meta2 .nav-item #meta2-tab.active::after, .meta3 .nav-item #meta3-tab.active::after, .meta4 .nav-item #meta4-tab.active::after, .meta5 .nav-item #meta5-tab.active::after {
  position: absolute;
  bottom: 0px;
  left: 103.13px;
  width: 840px;
  height: 1px; }

.meta1 .nav-item #autoavalia1-tab.active::after, .meta2 .nav-item #autoavalia2-tab.active::after, .meta3 .nav-item #autoavalia3-tab.active::after, .meta4 .nav-item #autoavalia4-tab.active::after, .meta5 .nav-item #autoavalia5-tab.active::after {
  position: absolute;
  bottom: 0px;
  left: 165.14px;
  width: calc(840px - 165.14px);
  height: 1px; }

.meta1 .nav-item #avaliagest1-tab.active::after, .meta2 .nav-item #avaliagest2-tab.active::after, .meta3 .nav-item #avaliagest3-tab.active::after, .meta4 .nav-item #avaliagest4-tab.active::after, .meta5 .nav-item #avaliagest5-tab.active::after {
  position: absolute;
  bottom: 0px;
  left: 178.36px;
  width: calc(840px - 165.14px - 178.36px);
  height: 1px; }

html {
  height: 100%;
  min-height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

footer {
  margin-top: auto; }

.subtitle-main {
  font-size: 20px !important;
  color: #006892; }

.busca-home, .busca-home::placeholder {
  border-color: #006892;
  font-size: 14px !important;
  color: #006892;
  height: 40px; }

.container-footer {
  height: 170px;
  background-color: #005949; }
  .container-footer p {
    font-size: 28px !important;
    color: #ffffff; }

.navbar {
  border-bottom: 7px #005949 solid; }
  .navbar .nav-item a {
    color: #005949;
    font-family: 'Verdana Bold', Verdana;
    font-size: 18px;
    font-weight: 600; }

.required-subtitle {
  color: #183c47; }

.dados-pessoais h3 {
  color: #006892;
  border-bottom: 2px #006892 solid;
  padding-bottom: 10px; }
.dados-pessoais label {
  color: #006892; }
.dados-pessoais .form-control, .dados-pessoais .form-control::placeholder {
  border-color: #006892;
  color: #000000;
  height: 40px; }

.datas {
  padding: 6px 1px; }

.accordion h1 {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 28px;
  font-weight: 700; }
.accordion h2 {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
.accordion p {
  font-size: 14px;
  color: #006892;
  margin-left: 23px; }

.nav-tabs .nav-item a {
  font-size: 14px !important;
  margin-right: 2px;
  padding-left: 35px;
  padding-right: 35px; }
  .nav-tabs .nav-item a[class="nav-link"] {
    color: #0099FF; }
  .nav-tabs .nav-item a:hover {
    color: #000000; }
.nav-tabs .nav-item:hover {
  background-color: #F2F2F2; }
.nav-tabs .nav-item .disabled {
  color: #cccccc !important; }

.tab-content {
  height: 590px; }

.meta1 .nav-item .active, .meta1 .tab-content {
  background-color: rgba(72, 168, 66, 0.2); }

.meta2 .nav-item .active, .meta2 .tab-content {
  background-color: rgba(244, 121, 32, 0.2); }

.meta3 .nav-item .active, .meta3 .tab-content {
  background-color: rgba(39, 170, 225, 0.2); }

.meta4 .nav-item .active, .meta4 .tab-content {
  background-color: rgba(72, 168, 66, 0.2); }

.meta5 .nav-item .active, .meta5 .tab-content {
  background-color: rgba(244, 121, 32, 0.2); }

.meta1 label, .meta2 label, .meta3 label, .meta4 label, .meta5 label, .meta6 label {
  color: #000000; }

.meta1 h3 {
  color: #48A842;
  border-bottom: 1px #48A842 solid;
  padding-bottom: 10px; }
.meta1 .form-control, .meta1 .form-control::placeholder {
  border-color: #48A842; }
.meta1 .nav-item {
  position: relative; }
  .meta1 .nav-item .active {
    border-color: #48A842;
    border-bottom: 1px solid #fff;
    color: #48A842 !important; }
  .meta1 .nav-item #meta1-tab.active::after {
    content: "";
    background-color: #48A842; }
  .meta1 .nav-item #autoavalia1-tab.active::after {
    content: "";
    background-color: #48A842; }
  .meta1 .nav-item #avaliagest1-tab.active::after {
    content: "";
    background-color: #48A842; }
.meta1 textarea {
  border-color: #48A842; }

.meta2 h3 {
  color: #F47920;
  border-bottom: 1px #F47920 solid;
  padding-bottom: 10px; }
.meta2 .form-control, .meta2 .form-control::placeholder {
  border-color: #F47920; }
.meta2 .nav-item {
  position: relative; }
  .meta2 .nav-item .active {
    border-color: #F47920;
    border-bottom: 1px solid #fff;
    color: #F47920 !important; }
  .meta2 .nav-item #meta2-tab.active::after {
    content: "";
    background-color: #F47920; }
  .meta2 .nav-item #autoavalia2-tab.active::after {
    content: "";
    background-color: #F47920; }
  .meta2 .nav-item #avaliagest2-tab.active::after {
    content: "";
    background-color: #F47920; }
.meta2 textarea {
  border-color: #F47920; }

.meta3 h3 {
  color: #27AAE1;
  border-bottom: 1px #27AAE1 solid;
  padding-bottom: 10px; }
.meta3 .form-control, .meta3 .form-control::placeholder {
  border-color: #27AAE1; }
.meta3 .nav-item {
  position: relative; }
  .meta3 .nav-item .active {
    border-color: #27AAE1;
    border-bottom: 1px solid #fff;
    color: #27AAE1 !important; }
  .meta3 .nav-item #meta3-tab.active::after {
    content: "";
    background-color: #27AAE1; }
  .meta3 .nav-item #autoavalia3-tab.active::after {
    content: "";
    background-color: #27AAE1; }
  .meta3 .nav-item #avaliagest3-tab.active::after {
    content: "";
    background-color: #27AAE1; }
.meta3 textarea {
  border-color: #27AAE1; }

.meta4 h3 {
  color: #48A842;
  border-bottom: 1px #48A842 solid;
  padding-bottom: 10px; }
.meta4 .form-control, .meta4 .form-control::placeholder {
  border-color: #48A842; }
.meta4 .nav-item {
  position: relative; }
  .meta4 .nav-item .active {
    border-color: #48A842;
    border-bottom: 1px solid #fff;
    color: #48A842 !important; }
  .meta4 .nav-item #meta4-tab.active::after {
    content: "";
    background-color: #48A842; }
  .meta4 .nav-item #autoavalia4-tab.active::after {
    content: "";
    background-color: #48A842; }
  .meta4 .nav-item #avaliagest4-tab.active::after {
    content: "";
    background-color: #48A842; }
.meta4 textarea {
  border-color: #48A842; }

.meta5 h3 {
  color: #F47920;
  border-bottom: 1px #F47920 solid;
  padding-bottom: 10px; }
.meta5 .form-control, .meta5 .form-control::placeholder {
  border-color: #F47920; }
.meta5 .nav-item {
  position: relative; }
  .meta5 .nav-item .active {
    border-color: #F47920;
    border-bottom: 1px solid #fff;
    color: #F47920 !important; }
  .meta5 .nav-item #meta5-tab.active::after {
    content: "";
    background-color: #F47920; }
  .meta5 .nav-item #autoavalia5-tab.active::after {
    content: "";
    background-color: #F47920; }
  .meta5 .nav-item #avaliagest5-tab.active::after {
    content: "";
    background-color: #F47920; }
.meta5 textarea {
  border-color: #F47920; }

.peso-total label {
  color: #006892; }
.peso-total .form-control, .peso-total .form-control::placeholder {
  color: #000000;
  color: #000000;
  border-bottom: 1px #000000 solid;
  height: 40px;
  border-color: #006892; }

.btn-form {
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-family: 'Arial Bold', Arial;
  font-size: 14px;
  font-weight: 700;
  background-color: #005949; }
  .btn-form:hover {
    background-color: #00CCFF;
    color: #ffffff; }

.btn-collapse {
  width: 200px;
  height: 40px;
  padding-left: 0px;
  color: #006892;
  background-color: #ffffff;
  border-color: #006892; }
  .btn-collapse:hover {
    background-color: #00CCFF;
    color: #006892; }

.main-title {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 28px;
  font-weight: 700; }

.titulo-quadro {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 16px;
  font-weight: 700;
  color: #006892;
  border-bottom: 2px #006892 solid;
  padding-bottom: 10px; }

.required-field {
  color: #ff0000; }

.position-required span {
  position: absolute;
  left: 5px; }

.text-smart {
  color: #333333;
  font-family: 'Arial Regular', Arial;
  font-size: 14px;
  font-weight: 400; }

textarea {
  resize: none; }

.legenda-nota {
  color: #000000; }

/* apenas para marcação do logo */
.logo {
  width: 255px;
  height: 140px;
  background-color: #005949; }

/*  */
.avalia-compet h4 {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 13px;
  font-weight: 700; }
.avalia-compet .texto-compet {
  font-size: 13px;
  line-height: normal; }
.avalia-compet label {
  color: #006892; }
.avalia-compet .border-compet {
  border-bottom: 1px solid #006892; }
.avalia-compet .select-autoavalia, .avalia-compet .select-avaliagest {
  color: #000000; }
.avalia-compet textarea {
  border-color: #006892;
  border-radius: 0.3em; }

.avaliacao-final label {
  color: #006892; }
.avaliacao-final .form-control, .avaliacao-final .form-control::placeholder {
  border-color: #006892;
  border-radius: 0.3em; }
.avaliacao-final input {
  margin-left: 15px; }

.feedback-gestor label {
  color: #006892; }
.feedback-gestor .form-control, .feedback-gestor .form-control::placeholder {
  border-color: #006892;
  border-radius: 0.3em; }
.feedback-gestor input {
  margin-left: 15px; }
.feedback-gestor p {
  font-size: 14px;
  color: #333333; }
.feedback-gestor textarea {
  border-color: #006892;
  border-radius: 0.3em;
  margin-left: 15px; }

.feedback-colaborador .question {
  color: #006892; }
.feedback-colaborador input {
  margin-left: 15px; }
.feedback-colaborador label {
  font-size: 13px; }

/*# sourceMappingURL=style.css.map */
