/* apenas para marcação do logo */
.logo {
  width: 255px;
  height: 140px;
  background-color: #005949; 
}
/*  */




.nav-item a {
  color: #005949;
  font-family: 'Verdana Bold', Verdana;
  font-size: 18px;
  font-weight: 600;
}

.navbar {
  border-bottom: 7px #005949 solid;
}

.nav-tabs .nav-item a {
  color: #333333 !important;
  font-family: 'Arial Regular', Arial;
  font-size: 14px;
  font-weight: 400;
  margin-right: 2px;
  padding-left: 35px;
  padding-right: 35px;
}

.nav-tabs .nav-item:hover {
  background-color: #F2F2F2;
}

.nav-tabs .active {
  background-color: #DAEED9 !important;
}


.main-title {
  color: #006892;
  font-family: 'Arial Bold', Arial;
  font-size: 28px;
  font-weight: 700;
}

.required-field {
  color: #ff0000;
}

.dados-pessoais h3, .metas h3 {
  color: #006892;
  font-family: 'Arial Regular', Arial;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px #006892 solid;
}

.metas h3 {
  color: #48A842;
  border-bottom:1px#48A842 solid; /* arrumar no sass depois */
}

.dados-pessoais label {
  color: #006892;
  font-family: 'Verdana Regular', Verdana, serif;
  font-size: 14px;
  font-weight: 400;
}

.dados-pessoais .form-control, .dados-pessoais .form-control::placeholder {
  color: #000000;
  font-family: 'Verdana Regular', Verdana, serif;
  font-size: 14px;
  font-weight: 400;
  height: 40px; 
  border-color: #006892;
}

.text-smart {
  color: #333333;
  font-family: 'Arial Regular', Arial;
  font-size: 14px;
  font-weight: 400;
}


