$color-zero: #005949;
$color-first: #006892;
$color-second: #333333;
$color-third: #F2F2F2;
$color-fourth: #cccccc;
$color-fifth:#ff0000;
$color-sixth: #ffffff;
$color-seventh: #00CCFF;

$color-eighth: #48A842;
$color-ninth: rgba(72, 168, 66, 0.2);

$color-tenth:#9e0032;
$color-eleventh: rgba(158, 0, 50, 0.2);

$color-twelfth:#F47920;
$color-thirteenth:rgba(244, 121, 32, 0.2);

$color-fourteenth:#27AAE1;
$color-fifteenth:rgba(39, 170, 225, 0.2);

$color-sixteenth: #B41E8E;
$color-seventeenth: rgba(180, 30, 142, 0.2);


$color-eighteenth: #FDE4D2;
$color-nineteenth: #000000;
$color-twentieth:#D4EEF9;

