@mixin titulo-form($cor, $alturaBorda) {
  color: $cor;
  border-bottom: $alturaBorda $cor solid;
}

@mixin cor-borda($cor) {
  border-color: $cor;
}

@mixin titulo-principal($cor) {
  color: $cor;
  font-family: 'Arial Bold', Arial;
  font-size: 28px;
  font-weight: 700;
}

%form-title {
  font-family: 'Arial Regular', Arial;
  font-size: 16px;
  font-weight: 400;
}

%form-font {
  font-family: 'Verdana Regular', Verdana, serif;
  font-size: 14px;
  font-weight: 400;
}
