@mixin titulo-form($cor, $alturaBorda) {
  color: $cor;
  border-bottom: $alturaBorda $cor solid;
}

@mixin cor-borda($cor) {
  border-color: $cor;
}

@mixin titulo-principal($cor, $tamanho-fonte) {
  color: $cor;
  font-family: 'Arial Bold', Arial;
  font-size: $tamanho-fonte;
  font-weight: 700;
}

@mixin text-area($color) {
  @include cor-borda($color);
  @extend %form-font;
  border-radius: 0.3em;
}

%tab-meta {
  position: absolute;
  bottom: 0px;
  left: 103.13px;
  width: 900%;
  height: 1px;
}

%form-input {
  color: $color-nineteenth;
  height: 40px;
}

%form-title {
  font-family: 'Arial Regular', Arial;
  font-size: 16px;
  font-weight: 400;
}

%form-font {
  font-family: 'Verdana Regular', Verdana, serif;
  font-size: 14px;
  font-weight: 400;
}
