.btn {
  width: 150px;
  height: 40px;
  background-color: $color-zero;
  color: $color-sixth;
  font-family: 'Arial Bold', Arial;
  font-size: 14px;
  font-weight: 700;

  :hover {
    background-color: $color-seventh;
    color: $color-sixth;
  }
}