.meta1, .meta2, .meta3, .meta4, .meta5, .meta6 {
  label {
    color: $color-nineteenth;
    @extend %form-font;
  }
}

.meta1 {
  h3 {
    @include titulo-form($color-eighth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-eighth);
    @extend %form-font;
    @extend %form-input;
  }

  .nav-item {
    position: relative;
  
    .active {
      @include cor-borda($color-eighth);
      border-bottom: 1px solid #fff;
      color: $color-eighth !important;
    }

    #meta1-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-meta;
    }

    #autoavalia1-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-autoavaliacao;
    }

    #avaliagest1-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-avaliacaogestor;
    }
  }

  textarea {
    @include cor-borda($color-eighth);
  }
}

.meta2 {
  h3 {
    @include titulo-form($color-twelfth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-twelfth);
    @extend %form-font;
    @extend %form-input;
  }

  .nav-item {
    position: relative;
  
    .active {
      @include cor-borda($color-twelfth);
      border-bottom: 1px solid #fff;
      color: $color-twelfth !important;
    }

    #meta2-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-meta
    }

    #autoavalia2-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-autoavaliacao;
    }

    #avaliagest2-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-avaliacaogestor;
    }
  }

  textarea {
    @include cor-borda($color-twelfth);
  }
}

.meta3 {
  h3 {
    @include titulo-form($color-fourteenth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-fourteenth);
    @extend %form-font;
    @extend %form-input; 
  }

  .nav-item {
    position: relative;
  
    .active {
      @include cor-borda($color-fourteenth);
      border-bottom: 1px solid #fff;
      color: $color-fourteenth !important;
    }

    #meta3-tab.active::after {
      content: "";
      background-color: $color-fourteenth;
      @extend %tab-meta
    }

    #autoavalia3-tab.active::after {
      content: "";
      background-color: $color-fourteenth;
      @extend %tab-autoavaliacao;
    }

    #avaliagest3-tab.active::after {
      content: "";
      background-color: $color-fourteenth;
      @extend %tab-avaliacaogestor;
    }
  }

  textarea {
    @include cor-borda($color-fourteenth);
  }
}

.meta4 {
  h3 {
    @include titulo-form($color-eighth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-eighth);
    @extend %form-font;
    @extend %form-input; 
  }

  .nav-item {
    position: relative;

    .active {
      @include cor-borda($color-eighth);
      border-bottom: 1px solid #fff;
      color: $color-eighth !important;
    }

    #meta4-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-meta
    }

    #autoavalia4-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-autoavaliacao;
    }

    #avaliagest4-tab.active::after {
      content: "";
      background-color: $color-eighth;
      @extend %tab-avaliacaogestor;
    }
  }

  textarea {
    @include cor-borda($color-eighth);
  }
}

.meta5 {
  h3 {
    @include titulo-form($color-twelfth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-twelfth);
    @extend %form-font;
    @extend %form-input; 
  }

  .nav-item {
    position: relative;

    .active {
      @include cor-borda($color-twelfth);
      border-bottom: 1px solid #fff;
      color: $color-twelfth !important;
    }

    #meta5-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-meta
    }

    #autoavalia5-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-autoavaliacao;
    }

    #avaliagest5-tab.active::after {
      content: "";
      background-color: $color-twelfth;
      @extend %tab-avaliacaogestor;
    }
  }

  textarea {
    @include cor-borda($color-twelfth);
  }
}

