.nav-tabs {
  .nav-item a {
    @extend %form-title;
    color: $color-second !important;
    font-size: 14px !important;
    margin-right: 2px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-item:hover {
    background-color: $color-third;
  }
  li .disabled {
    color: #cccccc !important;
  }
}

.tab-content {
  height: 590px;
}

.meta1 {
  .nav-item .active, .tab-content {
    background-color: $color-ninth;
  }
}

.meta2 {
  .nav-item .active, .tab-content {
    background-color: $color-thirteenth;
  }
}

.meta3 {
  .nav-item .active, .tab-content {
    background-color: $color-fifteenth;
  }
}

.meta4 {
  .nav-item .active, .tab-content {
    background-color: $color-ninth;
  }
}

.meta5 {
  .nav-item .active, .tab-content {
    background-color: $color-thirteenth;
  }
}
