.meta1, .meta2, .meta3, .meta4, .meta5, .meta6 {
  label {
    color: $color-nineteenth;
    @extend %form-font;
  }
}

.meta1 {
  h3 {
    @include titulo-form($color-eighth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-eighth);
    @extend %form-font;
    color: $color-nineteenth;
    height: 40px; 
  }

  textarea {
    @include cor-borda($color-eighth);
  }
}

.meta2 {
  h3 {
    @include titulo-form($color-twelfth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-twelfth);
    @extend %form-font;
    color: $color-nineteenth;
    height: 40px; 
  }

  textarea {
    @include cor-borda($color-twelfth);
  }
}

.meta3 {
  h3 {
    @include titulo-form($color-fourteenth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-fourteenth);
    @extend %form-font;
    color: $color-nineteenth;
    height: 40px; 
  }

  textarea {
    @include cor-borda($color-fourteenth);
  }
}

.meta4 {
  h3 {
    @include titulo-form($color-eighth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-eighth);
    @extend %form-font;
    color: $color-nineteenth;
    height: 40px; 
  }

  textarea {
    @include cor-borda($color-eighth);
  }
}

.meta5 {
  h3 {
    @include titulo-form($color-twelfth, 1px);
    @extend %form-title;
    padding-bottom: 10px;
  }

  .form-control, .form-control::placeholder {
    @include cor-borda($color-twelfth);
    @extend %form-font;
    color: $color-nineteenth;
    height: 40px; 
  }

  textarea {
    @include cor-borda($color-twelfth);
  }
}

