.nav-tabs {
  .nav-item a {
    @extend %form-title;
    color: $color-second !important;
    font-size: 14px !important;
    margin-right: 2px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-item:hover {
    background-color: $color-third;
  }
  li .disabled {
    color: #cccccc !important;
  }
}

.meta1 .nav-item .active, .tab-content1 {
  background-color: rgba(180, 30, 142, 0.2);
}

.meta2 .nav-item .active, .tab-content2 {
  background-color: rgba(72, 168, 66, 0.2) !important;
}

.meta3 .nav-item .active, .tab-content3 {
  background-color: rgba(244, 121, 32, 0.2);
}

.meta4 .nav-item .active, .tab-content4 {
  background-color: rgba(39, 170, 225, 0.2);
}

.meta5 .nav-item .active, .tab-content5 {
  background-color: rgba(158, 0, 50, 0.2);
}
