.main-title {
  @include titulo-principal($color-first, 28px);
}

.titulo-quadro {
  @include titulo-principal($color-first, 16px);
  @include titulo-form($color-first, 2px);
}

.required-field {
  color: $color-fifth;
}

.position-required span {
  position: absolute;
  left: 5px;
}

.text-smart {
  color: #333333;
  font-family: 'Arial Regular', Arial;
  font-size: 14px;
  font-weight: 400;
}

textarea {
  resize: none;
}

.legenda-nota {
  @extend %form-font;
  color: $color-nineteenth;
}

/* apenas para marcação do logo */
.logo {
  width: 255px;
  height: 140px;
  background-color: #005949; 
}
/*  */